{% load wagtailimages_tags  %}

<div class="container">
  <h3 class="text-center">{{ self.title }}</h3>
  <div class="card-deck" style="flex-flow: column wrap;">
    {% for card in self.cards %}
      {% image card.image height-500 as img %}
        <div class="card">
          <div class="card-body" style="display: flex; justify-content: left; align-items: center; margin-top: 1rem;">
            <img src="{{ img.url }}" alt="{{ img.alt }}" class="pres_image" style="max-width: 200px; max-height: 200px; flex:1; margin-right: 1rem;"/>
            <div class="pres_text">
            <h5 class="card-title">{{ card.title }}</h5>
            <p class="card-text">{{ card.text }}</p>
            <p style="text-align: left;">
                <a style="text-decoration:none; word-wrap: break-word;" href="mailto:email@email.com">
                    <i class="bi bi-envelope-fill" style="color: black;"></i> </a>&nbsp;
                    <a style="text-decoration:none; word-wrap: break-word; font-size:0.88em;color: black;"  href="mailto:{{ card.email }}" target="_blank">{{ card.email }}</a>
                </p>
              {% if card.button_page %}
                <a href="{{ card.button_page.url }}" class="btn btn-primary">
                  Know More (internal)
                </a>

              {% elif card.button_url %}
                <a href="{{ card.button_url }}" class="btn btn-primary">
                  Know More (external)
                </a>
              {% endif %}
            </div>
          </div>
        </div>
    {% endfor %}
  </div>
</div>
