{% extends "base.html" %}
{% block extra_css %}
    <style>
      body{
        padding-top: 100px;
      }
    </style>
{% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
<div class="container">
{% block content %}

  {% image self.banner_image width-1500 as img %}

  <center><h1 class="display-4">{{ self.banner_title }}</h1></center>
  <center><div class="lead">
    

  </div></center>

  <br>
  {# Example of an Orderable from home/models.py #}
  <div class="container-fluid" style="max-width:800px">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for loop_cycle in self.carousel_images.all %}
                {% image loop_cycle.carousel_image height-600 as img %}
                <div class="carousel-item{% if forloop.counter == 1 %} active{% endif %}">
                    <img src="{{ img.url }}" class="d-block w-100" alt="{{ img.alt }}"  ∑>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
  </div>
  <br><br>
  <center>
    <button onclick="window.location.href='imagepage/'" style="width: 200px; height: 50px; font-size: 25px;" class="btn btn-secondary" >
      Upload Video
    </button>
  </center>
<br><br>
  <div class="container">
    
    <br>
    {% for block in page.contentCard %}

      {% include_block block %}

    {% endfor %}
  </div>



{% endblock %}
</div>
