{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block extra_css %}
    <style>
      body{
        padding-top: 100px;
      }
    </style>
{% endblock %}
{% block content %}
{% load static wagtailcore_tags wagtailimages_tags %}
<center><h1 class="display-4">{{ page.name_title }}</h1></center>
<div>
    <center><p>{{ page.name_subtitle|richtext }}</p></center>
</div>

<center>
  <div class="container-fluid" style="height:100%; padding-top:3%; display: block; overflow: auto;">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <style>
      .file-drop-area {
          position: relative;
          display: flex;
          align-items: center;
          max-width: 100%;
          padding: 25px;
          border: 1px dashed rgba(255, 255, 255, 0.4);
          border-radius: 3px;
          transition: .2s
        }

      .choose-file-button {
          flex-shrink: 0;
          /* background-color: rgba(255, 255, 255, 0.04); */
          border: 1px solid rgba(255, 255, 255, 0.1);
          border-radius: 3px;
          padding: 8px 15px;
          margin-right: 10px;
          font-size: 12px;
          text-transform: uppercase
        }

      .file-message {
          font-size: small;
          font-weight: 300;
          line-height: 1.4;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis
        }

      .file-input {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          widows: 100%;
          cursor: pointer;
          opacity: 0
        }
    </style>
    <script type="text/javascript">
      $(document).on('change', '.file-input', function() {
          var filesCount = $(this)[0].files.length;
          var textbox = $(this).prev();
          if (filesCount === 1) {
          var fileName = $(this).val().split('\\').pop();
          textbox.text(fileName);
          } else {
          textbox.text(filesCount + ' files selected');
          }
          if (typeof (FileReader) != "undefined") {
          var dvPreview = $("#divImageMediaPreview");
          dvPreview.html("");
          var index =0;
          $($(this)[0].files).each(function () {
          var file = $(this);
          var reader = new FileReader();
          reader.onload = function (e) {
          var img = $("<img />");
          img.attr("style", "width: 150px; height:100px; padding: 10px");
          img.attr("src", e.target.result);
          img.attr("name", name+index);
          index=index+1;
          dvPreview.append(img);
          }
          reader.readAsDataURL(file[0]);
          });
          } else {
          alert("This browser does not support HTML5 FileReader.");
          }
          });
    </script>
    <script>
    function goToYouTube() {
      window.open("https://youtube.com/shorts/S_OdMIUayJw?feature=share", "_blank")
        }
    </script>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header" style="align-items: center;">
              <h5>Video Guidelines</h5>
            </div>
            <div class="card-body" >
              <div style="text-align: left;">
                <p>- The camera of the phone should be at the same level as the treadmill.</p>
                <p>- The camera should record from the sole of the shoe to 5-10cms above the knee.</p>
                <p>- The video must be recorded with the phone placed vertically, not horizontally.</p>
                <p>- The subject  should be recorded with shoes on, however shorts or tights must be worn (no wide pants)</p>
                <p>- The subject should run at a comfortable pace, almost a sprint (≈ 9km/h).</p>
                <p>- The video should be about 10-15 seconds long.</p>
              </div>
              <button class="btn btn-secondary" onclick="goToYouTube()">Checkout a sample</button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header" style="align-items: center;">
              <h5>Instructions</h5>
            </div>
            <div class="card-body">
                <form class="input-group mb-3" method="POST" enctype="multipart/form-data" id="form1" >
                  <row style="width: 100%;text-align: left;">
                  <p><b>Step One: Choose your video</b></p>
                    <div class="file-drop-area" style="padding: 0px"> 
                      <span class="choose-file-button btn-secondary">Choose Files</span> 
                      <input type="file" name="file_data" class="file-input" accept=".jfif,.jpg,.jpeg,.png,.gif,.MOV,.MP4" > 
                    </div>
                  </row>
                  {% csrf_token %}
                  <row style="width: 100%;text-align: left;padding-top: 20px">
                    <div>
                    <p><b>Step Two: Upload your video</b></p>
                    <button class="btn btn-secondary" type="submit" id="inputGroupFileAddon04">Upload</button>       
                    </div>
                  </row>  
                <form>
                <row style="width: 100%;text-align: left;padding-top: 10px">
                    <p>Uploaded Video:</p>
                    <ul>          
                    <!-- {% for my_file1 in my_uploaded_file_names %} -->
                      <li class="text-white"><a class="text-black" href="{{my_file1}}" target="_blank" style="text-decoration:none;">{{my_file1}}</a></li>
                    <!-- {% endfor %} -->                
                    </ul>
                </row> 
                <row style="width: 100%;text-align: left;padding-top: 20px">
                  <p><b>Step Three: Click Start to start the Pronation Detection!</b></p>
                  <form method="POST" id="start">
                    {% csrf_token %}                 
                    <button class="btn btn-secondary" type="submit" name="start" id="start">Start</button>
                    <br><br>
                    <p>Be patient and do not close the tab! The analysis may take a while.</p>
                  </form>
                </row> 
            </div>
          </div>
        </div>
      </div>
    </div>

<br><br><br>

</div>
</center>
<hr>
<h5>Results:</h5>
{% if classification_results %}
  <p><b>Left leg: </b>{{classification_results.0}}</p>
  <p><b>Right leg: </b>{{classification_results.1}}</p>
{% endif%}

<div class=" " style="margin-bottom:400px;">
      <!-- This is result images. -->
    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel" >
      <ol class="carousel-indicators">
        {% for my_file2 in my_result_file_names %}
              <li data-target="#carouselExampleIndicators2" data-slide-to={{forloop.counter0}} class="{% if forloop.first %} active {% endif %}" aria-current="true" aria-label={{forloop.counter}}></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner">
        {% for my_file3 in my_result_file_names %}
            <div class="carousel-item {% if forloop.first %} active {% endif %} ">
              <a href="{{my_file3}}" target="_blank"><img src="{{my_file3}}" class="d-block w-100" ></a>
            </div>
        {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>

{% endblock %}
